@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "mixins";
* {
  transition: all 0.1s ease;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #1F1F21;
  @include mw-768 {
    background-image: none;
  }
}
section {
  scroll-behavior: smooth;
}
.container {
  max-width: 1440px;
  @include mw-768 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.tran {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.text-center {
  text-align: center;
}
.desktop {
  display: block;
  @include mw-920 {
    display: none !important;
  }
}
.mobile {
  display: none;
  @include mw-920 {
    display: block !important;
  }
}
.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}


@for $i from 10 through 50 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}
@for $i from 1 through 50 {
  .w-#{$i} {
    width: #{$i}+ "%";
  }
}
a {
  @extend .tran;
  &:hover {
    color: $color-1 !important;
    text-decoration: none;
  }
}
