$color-1: #34ff61;
$color-1-hover: #52ff00;
$color-2: #ff8800;
$white: #fff;
$text1: #1F1F21;
$text2: rgba(255, 255, 255, 0.64);

$border: #01284e;
.color1 {
  color: $color-1;
}
.text1 {
  color: $text1;
}
.text2 {
  color: $text2;
}
