.section-title {
  font-size: 44px;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  letter-spacing: 0.02rem;
  margin-top: 150px;
  margin-bottom: 70px;
  @include mw-768 {
    font-size: 32px;
  }
}
.section-content {
  color: $text2;
  font-size: 18px;
  @include mw-920 {
    font-size: 16px;
  }
}
.section-token {
  color: $text2;
  font-size: 18px;
  display: flex;
  align-items: center;
  @include mw-920 {
    font-size: 16px;
  }
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.text-ellipsis {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
.full-width {
  max-width: 1920px;
  margin: auto;
}
@-webkit-keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/* Standard syntax */
@keyframes xoayvong {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
