.hero {
  height: 100vh;
  position: relative;
  @include mw-500 {
    height: 90vh;
  }
  .linear {
    background: linear-gradient(180deg, #010206 0%, rgba(31, 31, 33, 0) 0.01%, rgba(31, 31, 33, 1) 100%);
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
  }
  .content {
    position: absolute;
    bottom: 50px;
    z-index: 2;
    width: calc(100%-30px);
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .btn {
      margin: 20px;
    }
    @include mw-1200 {
      justify-content: center;
      .btn {
        width: 250px;
        height: 70px;
        font-size: 30px;
      }
    }
    @include mw-768 {
      justify-content: center;
      bottom: 0;
      .btn {
        width: 250px;
        height: 70px;
        font-size: 30px;
      }
    }
    @include mw-500 {
      justify-content: center;
      bottom: 0;
      .btn {
        width: 150px;
        height: 42px;
        font-size: 13px;
      }
    }
  }
  .video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 107%;
    z-index: -1;
    top: 0;
    margin-top: -100px;
  }
}
.trailer {
  .content {
    position: relative;
    height: 790px;
    overflow: hidden;
    @include mw-768 {
      height: 400px;
    }
    .bg-trailer {
      opacity: 0;
      position: absolute;
      z-index: 2;
    }
    .active + .bg-trailer {
      opacity: 1;
    }
    video {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      z-index: -1;
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
    }
    button {
      background-color: transparent;
      opacity: 0;
      border: medium none;
      color: #fff;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 18px;
      left: 0;
      padding: 8px 16px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
    }
    button.active {
      // background-color: #0077a2;
      opacity: 0.6;
    }
  }
}
.gameplay {
  background-image: url(../img/gameplay-bg.png);
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  h2 {
    color: #eaa900;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    @include mw-768 {
      font-size: 14px;
    }
  }
  p {
    color: $text2;
    @include mw-768 {
      font-size: 10px;
    }
  }
  a {
    color: $white;
    @include mw-768 {
      font-size: 10px;
    }
  }
  &--list {
    width: 30%;
    .slick-dots {
      display: none !important;
    }
    .slick-arrow {
      bottom: -50px;
      top: auto;
      width: 64px;
      height: 64px;
      background-color: $white;
      @include mw-920 {
        width: 30px;
        height: 30px;
        bottom: 0;
      }
    }
    .slick-prev {
      left: 30%;
      @include mw-920 {
        right: -30%;
        left: auto;
      }
      &::before {
        content: url(../img/chevron-left.svg);
        fill: $white;
        position: absolute;
        left: 14px;
        top: 15px;
        @include mw-920 {
          left: 0;
          top: 0;
        }
      }
    }
    .slick-next {
      left: calc(30% +120px);
      @include mw-920 {
        right: -50%;
        left: auto;
      }
      &::before {
        content: url(../img/chevron-right.svg);
        fill: $white;
        position: absolute;
        right: 19px;
        top: 15px;
        @include mw-920 {
          right: 0;
          top: 0;
        }
      }
    }
    @include mw-920 {
      width: 60%;
      // padding-bottom: 70px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    @include mw-920 {
      justify-content: start;
    }
  }

  .character {
    position: absolute;
    top: 15%;
    left: -15%;
    @include mw-920 {
      left: 0;
    }
    @include mw-768 {
      width: 50%;
    }
  }
  .arrow {
    position: relative;
    width: 60%;
    padding-left: 20%;
    @include mw-920 {
      width: 100%;
    }
    @include mw-768 {
      padding-left: 100px;
    }
    img {
      width: 100%;
    }
    .btn--game {
      position: absolute;
      top: 36%;
      left: 36%;
      font-size: 44px;
      font-weight: bold;
      width: 150px;
      &:hover {
        color: $color-1;
      }
    }
  }
}

.road-map {
  width: 100%;
  // width: 1920px;
  overflow-x: auto;
  // min-height: 100vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  position: relative;
  &::-webkit-scrollbar {
    display: none;
  }

  @include mw-768 {
    display: none;
  }
  &__title {
    text-align: center;
    font-size: 44px;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
  }
  &__title--sm {
    text-align: center;
    color: #eaa900;
    letter-spacing: 0.02rem;
  }
  &--content {
    background-image: url(../img/roadmap-bg.png);
    background-repeat: no-repeat;
    // background-size: contain;
    width: 100%;
    min-width: 1850px;
    height: 1292px;
    padding-top: 50px;
  }
  &--item {
    position: relative;
    width: 170px;
    ul {
      line-height: 1.25rem;
      color: $text2;
      padding: 10px;
    }
    .date {
      font-family: "Open Sans Condensed", sans-serif;
      font-weight: bold;
      font-size: 28px;
      // text-align: center;
    }
    &::before {
      content: "";
      border-left: 1px solid #616262;
      position: absolute;
      top: 120%;
      left: 30%;
      height: 55px;
      width: 3px;
    }

    &:hover {
      color: $color-1;
      @extend.tran;

      &::after {
        color: $color-1;
        @extend.tran;
      }
    }
  }
  &--1 {
    top: 200px;
    left: 197px;
  }
  &--2 {
    top: -190px;
    left: 466px;
  }
  &--3 {
    top: 22px;
    left: 860px;
    &::before {
      top: -40%;
    }
  }
  &--4 {
    top: -226px;
    left: 1244px;
    &::before {
      top: -40%;
    }
  }
  &--5 {
    left: 1505px;
    top: -541px;
    &::before {
      top: -160%;
      left: 40%;
    }
  }
  .character {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    left: 0;
    &--1 {
      position: absolute;
      left: 300px;
      bottom: 0;
    }
    &--2 {
      position: absolute;
      left: 500px;
    }
    &--3 {
      position: absolute;
      left: 700px;
      bottom: 0;
    }
    &--4 {
      position: absolute;
      left: 1050px;
      bottom: 200px;
    }
    &--5 {
      position: absolute;
      left: 1200px;
      bottom: 0;
    }
  }
}

.road-map-mobile {
  background-image: url(../img/roadmap-bg-mb.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: none;
  position: relative;
  min-height: 892px;
  padding-bottom: 300px;
  overflow: hidden;
  @include mw-768 {
    display: block;
  }
  .road-map__title--sm {
    font-size: 10px;
    padding: 20px 0;
  }
  .road-map__title {
    font-size: 18px;
    margin-bottom: 50px;
  }
  .item {
    padding-left: 130px;
    position: relative;
    font-family: Helvetica;

    &::before {
      content: "";
      width: 1px;
      border-left: 2px solid #fff;
      opacity: 0.5;
      height: 100%;
      position: absolute;
      top: 0;
      left: 100px;
    }
    &::after {
      content: url(../img/item-bg.svg);
      position: absolute;
      top: 30px;
      left: 90px;
    }
    // &:last-child{
    //   &::before{
    //     display: none;
    //   }
    // }
    ul {
      line-height: 1.25rem;
      color: $text2;
      padding: 10px;
      margin-bottom: 0;
    }
    .date {
      font-family: "Open Sans Condensed", sans-serif;
      position: absolute;
      left: 10px;
      top: 30px;
      font-size: 14px;
    }
  }
  .character {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
}
.partner {
  padding: 30px 0 0;
  &--item {
    padding: 30px;
  }
  &--list {
    .slick-dots {
      display: none !important;
    }
    .slick-arrow {
      display: none !important;
    }
  }
}
